.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .logo {
    font-size: 22px;
    display: flex;
    align-items: center;

    img {
      height: 27px; // Adjust the height as needed
      width: auto; // Maintains aspect ratio
      margin-right: 10px; // Adds space between image and text
    }

    .highlight {
      color: purple;
    }

    .bold {
      font-weight: bold;
    }

    .reviewtext {
      font-weight: 500;
    }
  }

  .search {
    width: 600px;
    margin-left: 338px;
  }
}