.add-review-btn-1 {
    background-color: #7b48db;
    border-color: #7b48db;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
  
    &:hover {
      background-color: #6a3bc7;
      border-color: #6a3bc7;
    }
  }
  